[submodule "perc-eclipse"]
	path = perc-eclipse
	url = https://github.com/percussion/perc-eclipse.git
[submodule "vedit"]
	path = vedit
	url = https://github.com/percussion/vedit.git
[submodule "perc-devtools-distribution"]
	path = perc-devtools-distribution
	url = https://github.com/percussion/perc-devtools-distribution.git
[submodule "loader"]
	path = loader
	url = https://github.com/percussion/loader.git
