<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.percussion.doc.help.PackageBuilder"
   name="Help Plug-in"
   version="1.0.0"
   provider-name="PERCUSSION"
   class="com.percussion.doc.packagebuilder.PackageBuilderHelpPlugin">

   <runtime>
      <library name="doc.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="toc.xml" primary="true"/>
   </extension>

</plugin>
