<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.percussion.doc.help.packagebuilder"
   name="Percussion Package Builder Help Plugin"
   version="8.1.1.qualifier"
   provider-name="Percussion Software, Inc."
   class="com.percussion.doc.packagebuilder.PackageBuilderHelpPlugin">

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
   
   <extension point="org.eclipse.help.toc">
   		<toc file="toc.xml" primary="true"/>
   </extension>

</plugin>
